*{margin: 0;
padding: 0;
box-sizing: border-box;

}



#box{height: auto;
width: auto;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
border-color: black;
border-style: solid;}

main{position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);}
span{background-color: green;
height: 25px;
width: 35px;
position: relative;
left: 110px;}



.tablet{height: 300px;
width: 150px;
background-image: url(https://images.eprice.it/nobrand/0/hres/722/205813722/6F7F6A7C-C138-4600-A8B9-1290CB6247C2.jpg);
background-size: contain;
background-position: center;
display: inline-block;
background-repeat: no-repeat;
border-color: black;
border-style: solid;
background-color: #D6D6D6;

}


.cuffie{height: 300px;
width: 150px;
background-image: url(https://images-na.ssl-images-amazon.com/images/I/71ng0r8aqBL._SY355_.jpg);
background-position: center;
background-size: contain;
display: inline-block;
background-repeat: no-repeat;
border-color: black;
border-style: solid;
background-color: #D6D6D6;
}

.telefono{height: 300px;
width: 150px;
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSZYJNbn3jsqa4l1njDHmNUReYCpFLtQI7XdQy_7xAw7LK_DjDc-lZgdfBQsptTb0PFugihpbzh&usqp=CAc);
background-size: contain;
display: inline-block;
background-repeat: no-repeat;
background-position: center;
border-color: black;
border-style: solid;
background-color: #D6D6D6;
}
.riga2{margin-top: 10px;}

.riga1 {margin-top: 10px;}
